<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body style="font-family: sans-serif; font-size: 14px;">
{% block body %}{% endblock %}
</body>
</html>