{% extends "base.html" %}
{% block body %}
<table id="table" cellspacing="5">
  <tr>
    <th>Category</th>
    {% for competitor in competitors %}
    <th>{{ competitor }}</th>
    {% endfor %}
  </tr>
  {% for item in data %}
    <tr>
      <td>
        {{ item['name'] }}
      </td>
      {% for competitor in competitors %}
      <td id="{{ format_field(item['name'], competitor) }}" style="text-align: center; color: #FFF"></td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<div class="depth-container" style="padding: 20px 0 0 10px;">
  <h4>Range</h4>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    {% for item in data %}
      {% for store in item['store_data'] %}
        var myPrice = {{ item['average'] }}
        var competitorPrice = {{ store['average'] }}
        var diff = ((myPrice - competitorPrice)/((myPrice + competitorPrice)/2))*100
        var cellId = "#{{ format_field(item['name'], store['store']) }}"
        $(cellId).text("{{ store['average'] }}");
        $(cellId).attr('data-percentage', Math.round(diff));
      {% endfor %}
    {% endfor %}

    var percentages = $('td[data-percentage]').map(function() {
      return parseInt($(this).data('percentage'));
    }).get();
    var highest_percent = Math.max.apply(Math, percentages)
    var lowest_percent = Math.min.apply(Math, percentages)
    var initial_lowest_percent = lowest_percent;
    var initial_highest_percent = highest_percent;
    if (lowest_percent < 0) {
      lowest_percent = -lowest_percent;
    }
    highest_percent = highest_percent + lowest_percent;

    $('td[data-percentage]').each(function() {
      var percentage_with_offset = $(this).data('percentage') + lowest_percent;
      $(this).css('background-color', rangeColor(percentage_with_offset, highest_percent))
    })

    if (percentages.indexOf(0) < 0) {
      percentages.push(0);
    }
    var percentages = percentages.sort(sortNumber);
    $('.depth-container').append('<span>' + initial_lowest_percent + '% </span>');
    $.each(percentages, function (k, v) {
      $('.depth-container').append(
        '<span style="background-color: ' + rangeColor(v+lowest_percent, highest_percent, lowest_percent) +'; width: 3px;" alt="' + v + '%' + '">&nbsp;</span>'
      );
    });
    $('.depth-container').append('<span> ' + initial_highest_percent + '%</span>');

  });

  function rangeColor(length, maxLength, midpoint)
  {
    if (typeof(midpoint) != undefined && length == midpoint) {
     return 'rgb(' + 190 + ',' + 190 + ',' + 190 + ')';
    }
    var r = Math.round((255 * length)/maxLength);
    var g = Math.round((255 * (maxLength - length))/maxLength);
    var b = 0;
    return 'rgb(' + r + ',' + g + ',' + b + ')';
  }

  function sortNumber(a,b) {
    return a - b;
  }


</script>
{% endblock %}